// Variables

$gap : 4vh;
$padding : 4vh;
$color : #48CAE4;
$primary-color: #000000;
$secondary-color: #ffffff;
$font-stack: 'Courier Prime', monospace;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;